<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>
    <div class="top">
        <p class="title_text">個人資料</p>
    </div>
    <form action="/DBmanageApp/submitUserData" method='POST'>
        <div class="input_frame">
            <input class="inputa" type="text" name="name" required placeholder="請輸入真實姓名" value="{{ name }}">
        </div>
        <div class="input_frame">
                <input class="inputa" type="text" name="nickname" placeholder="請輸入暱稱" value="{{ nickname }}">
        </div>
        <div class="input_frame">
                <input class="inputa" type="text" name="phone" required placeholder="請輸入手機電話" value="{{ phone }}">
        </div>
        <div class="input_frame">
            <input class="inputa" type="text" name="address" required placeholder="請輸入聯絡地址" value="{{ address }}">
        </div>
        <div class="input_frame">
                <input class="inputa" type="text" name="email" placeholder="請輸入email" value="{{ email }}">
        </div>


        <div class="input_frame">
            <div class="signup_frame">
                <input type="submit" class="signup signup_right" value="保存">
                <a href="logout"><input type="button" class="signup signup_right" value="登出"></a>
            </div>
        </div>
    </form>
</body>
</html>