<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href=" {% static 'assets/css/login.css' %} ">
</head>
<body>
    <div class="top">
        <p class="title_text">簡訊認證</p>
    </div>
    <p>此次驗證編號：{{ make_uuid|slice:"-5:" }}</p>
    <p>！！各組注意，在此重整會重發簡訊！！</p>
    <form action="SMS_CheckCode" method='POST'>
        {% csrf_token %} 
        <div class="input_frame">
            <input class="inputb" type="text" name="Tphone" placeholder="請輸入手機號碼" value="{{ Tphone }}" readonly>
        </div>
        <div class="input_frame">
                <input class="inputa" type="text" name="code" placeholder="請輸入驗證碼" value="">
                <input type="hidden" name="make_uuid" value={{ make_uuid }}>
        </div>
        <div class="input_frame">
            <div class="signup_frame">
                <a href="/UserInterfaceApp/login_noAccount.html"><input type="button" class="signup signup_right" value="取消"></a>
            </div>
            <div class="signup_frame">
                <input type="submit" class="signup" value="送出">
            </div>
        </div> 
    </form>
</body>
</html>