<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href=" {% static 'assets/css/login.css' %} ">
</head>
<body>
    {% if vaildPhone == False %}
    <script type="text/javascript">
        alert("請輸入有效的電話號碼！")
    </script>
    {% endif %}

    {% comment %} {% if registed == True %}
    <script type="text/javascript">
        alert("此號碼已被註冊！")
    </script> def SMS_sentCode_page
    {% endif %} {% endcomment %}

    {% if vaildCode == False %}
    <script type="text/javascript">
        alert("認證失敗，請重試！")
    </script>
    {% endif %}

    <div class="top">
        <p class="title_text">簡訊認證</p>
    </div>
    <form action="SMS_sentCode.html" method='POST'>
        {% csrf_token %} 
        <div class="input_frame">   
            <input class="inputb" type="text" name="Tphone" placeholder="請輸入手機號碼" value="">
        </div>
        <div class="input_frame">
        </div>
        <div class="input_frame">
            <div class="signup_frame">
                <a href="/UserInterfaceApp/login_noAccount.html"><input type="button" class="signup signup_right" value="返回"></a>
            </div>
            <div class="signup_frame">
                <input type="submit" class="signup" value="傳送驗證碼">
            </div>
        </div>
        
    </form>
</body>
</html>